<configuration>
  <system.webServer>
    <handlers>
      <add name="DjangoHandler" 
           path="*" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="C:\Pak Tiles\Paktiles\tiles\paktiles\scripts\python.exe|C:\Pak Tiles\Paktiles\tiles\paktiles\Lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>
